body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    color: #EEE6FF;
}

header {
    background-color: #1F2033;
    color: #EEE6FF;
    text-align: left;
    display: flex;
    width: 100%;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    padding: 0;
    list-style: none;
    margin-left: 40px;
    margin-top: 55px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #EEE6FF;
    text-decoration: none;
    font-weight: bold;
}

main {
    border-radius: 5px;
    padding: 0;
    margin: 0;
    align-items: center;
    display:contents;
}

section {
    margin-bottom: 20px;
    border-radius: 5px;
}

h2, h3 {
    color: #EEE6FF;
}
#titulo-principal {
    font-size: 48px;
}

button {
    background-color: #2E3478;
    color: #EEE6FF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover {
    outline: 2px solid #EEE6FF;
    outline-offset: 2px;
}

section ul li{
    color: #EEE6FF
}
p {
    color:#EEE6FF;
    font-size: 20px;
    font-weight:bold;
}
#bienvenido {
    text-align: center;
    background:
        linear-gradient(180deg, transparent, #1e1e1e), url("../imagenes/personas-viendo-television-smart-tv-3225758.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
label {
    color:#2E3478
}
input {
    width: 100%;
    padding: 12px;
    border: 5px solid #A5AFE6;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #2E3478;
}
input:focus {
    border-color: #1F2033;
    outline: none; /* Elimina el contorno azul por defecto en algunos navegadores */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
.horizontal {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
    background: linear-gradient(to right,#40489c,90%,#1e1e1e);
    width: 100%
}
.tarjeta {
    min-width: 160px;
    height: 240px;
    background-color: #2E3478;
    color:white;
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    scroll-snap-align: start;

}
#logo {
    max-width: 250px;
    height: auto;
}
.mostrador-de-contenido {
    display: flex;
    gap: 16px;
    max-width: 80%;
    background: linear-gradient(180deg,#2E3478,70%,#1e1e1e);
}